.container {
    margin-top: 15%;
    color: wheat;
    position: relative;

}

#quote {
    inline-size: 300px;
    overflow-wrap: break-word;
    font-size: 160%;
    display: block;
    text-align: center;
    margin: 0 auto;
}

#author {

    font-size: 120%;
    text-align: center;
    margin: 10px auto;
}

[type=button] {

    background-color: #FF4E00;

    color: #fff;
    border-radius: 10px;
}

.btn_container {
    position: absolute;
    margin-left: 37.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0px solid;
    position: fixed;
    bottom: 40px;
    font-size: 100%;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-image: url(bg.jpeg);
    background-size: 100%;
    height: 50%;
    background-repeat: no-repeat;
}